.pl-m { padding-left: 36px !important; }
.pl-xl { padding-left: 60px !important; }
.pl-xxl { padding-left: 96px !important; }

.pt-xxl { padding-top: 96px !important; }
.pt-xl { padding-top: 60px !important; }
.pt-m { padding-top: 36px !important; }
.pt-s { padding-top: 24px !important; }
.pt-xs { padding-top: 16px !important;  }

.p-m { padding: 36px !important; }
